<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="card__container">
           <article class="card__article">
              <img src="StockCake-Celebration In Motion_1751046124.jpg" alt="image" class="card__img">

              <div class="card__data">
              <span class="card__description">Vancouver Mountains,Canada</span>
               <h2 class="card__title">The great path</h2>
               <a href="#" class="card__button">read more</a>
              </div>
           </article>

           <article class="card__article">
              <img src="StockCake-Dancing Confetti Celebration_1751046291.jpg" alt="image" class="card__img">

              <div class="card__data">
              <span class="card__description">hello_haiii</span>
               <h2 class="card__title">helllo hai</h2>
               <a href="#" class="card__button">read more</a>
              </div>
           </article>

           <article class="card__article">
              <img src="StockCake-Floating Pastel Confetti_1751046528.jpg" alt="image" class="card__img">

              <div class="card__data">
              <span class="card__description">hello</span>
               <h2 class="card__title">haiiiiii</h2>
               <a href="#" class="card__button">read more</a>
              </div>
           </article>
        </div>
    </div>
</body>
</html>