<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>21 Gift Boxes</title>
  <link rel="stylesheet" href="/css/gftbox.css" />
</head>
<body>
  <div class="gift-grid" id="giftGrid">
    <!-- JavaScript will auto-generate 21 boxes here -->
  </div>
  <script src="/js/giftbox.js"></script>
</body>
</html>